
<ul class="SearchResults">
{{#each items}}
    <li class="SearchResults-item">
        <a class="SearchResults-link" href="{{link}}">
            {{#if pagemap.metatags.[0].search:title}}
                <h3 class="SearchResults-subTitle">{{pagemap.metatags.[0].search:title}}</h3>
            {{else}}
                <h3 class="SearchResults-subTitle">{{title}}</h3>
            {{/if}}

            {{#if pagemap.metatags.[0].search:description}}
                <p class="SearchResults-text">{{pagemap.metatags.[0].search:description}}</p>
            {{else}}
                <p class="SearchResults-text">{{snippet}}</p>
            {{/if}}
        </a>

        {{#ifEquals displayLink "help.cloud66.com"}}
            {{#if pagemap.metatags.[0].search:product}}
                <div class="SearchResults-ico SearchResults-ico--{{toLowerCase pagemap.metatags.[0].search:product}}"></div>
                <div class="Tag Tag--lrg">{{pagemap.metatags.[0].search:product}}</div>
            {{/if}}
        {{/ifEquals}}

        {{#ifEquals displayLink "community.cloud66.com"}}
            <div class="SearchResults-ico SearchResults-ico--community"></div>
        	<div class="Tag Tag--lrg">Community</div>
        {{/ifEquals}}
    </li>
{{/each}}
</ul>
